<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Streamming Interface</title>
    <meta name="description" content="Streamming interface for Agile Content - Hiring Process">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.scss' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/animations.scss' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body onload="renderTvShow({{id}})">
    <div class="loading">
      <div class="loadspinning">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>
    <div class="app-wrapper" style="opacity:0;">
      {{{body}}}
    </div>
  </body>
</html>
